@import "settings";

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}



.full-width {
  width: 100%;
}

.wrapper {
  padding: rem(60px 0);
  width: 100%;
}

.pointer {
  cursor: auto;
}


